body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.myBtn{
  background-color:lightblue;
  color: black;
  border: none;
  /* transition: background-color 0.3s; */
}

.myBtn:hover{
  background-color: #5da4c7 !important;
  color:white !important;
}
.edit,.delete{
  padding: 0px 6px;
  border-radius: 5px;
}

.edit{
  margin-right: 10px;
}